* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.header {
    height: 112px;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo {
    height: 70px;
    width: 70px;
    border-radius: 15px;
}

.logo {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name, .medium {
    margin-bottom: 25px;
}


a {
    text-decoration: none;
    color: black;
}

.medium:hover
{
 -webkit-transform: scale(1.5);
 -ms-transform: scale(1.5);
 transform: scale(1.5);
 transition: 1.5s;
}